packages/infra/statemachines/order-workflow.asl.json
{
  "Comment": "EventForge Order Processing Workflow - Saga pattern with compensation",
  "StartAt": "ValidateOrder",
  "Version": "1.0",
  "States": {
    "ValidateOrder": {
      "Type": "Task",
      "Resource": "${ValidateOrderFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "userId.$": "$.userId",
        "items.$": "$.items",
        "total.$": "$.total"
      },
      "ResultPath": "$.validateResult",
      "OutputPath": "$",
      "Next": "ReserveInventory",
      "Catch": [
        {
          "ErrorEquals": ["ValidationError"],
          "ResultPath": "$.error",
          "Next": "OrderFailed"
        }
      ]
    },
    "ReserveInventory": {
      "Type": "Task",
      "Resource": "${ReserveInventoryFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "userId.$": "$.userId",
        "items.$": "$.items",
        "total.$": "$.total"
      },
      "ResultPath": "$.reserveResult",
      "OutputPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "ChargePayment",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "OrderFailed"
        }
      ]
    },
    "ChargePayment": {
      "Type": "Task",
      "Resource": "${ChargePaymentFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "userId.$": "$.userId",
        "items.$": "$.items",
        "total.$": "$.total"
      },
      "ResultPath": "$.chargeResult",
      "OutputPath": "$",
      "Next": "ConfirmOrder",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseInventory"
        }
      ]
    },
    "ConfirmOrder": {
      "Type": "Task",
      "Resource": "${ConfirmOrderFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "userId.$": "$.userId",
        "items.$": "$.items",
        "total.$": "$.total"
      },
      "ResultPath": "$.confirmResult",
      "OutputPath": "$",
      "End": true,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseInventory"
        }
      ]
    },
    "ReleaseInventory": {
      "Type": "Task",
      "Resource": "${ReleaseInventoryFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "userId.$": "$.userId",
        "items.$": "$.items",
        "total.$": "$.total"
      },
      "ResultPath": "$.releaseResult",
      "OutputPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "OrderFailed"
    },
    "OrderFailed": {
      "Type": "Task",
      "Resource": "${OrderFailedFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "userId.$": "$.userId",
        "items.$": "$.items",
        "total.$": "$.total",
        "error.$": "$.error"
      },
      "ResultPath": "$.failResult",
      "OutputPath": "$",
      "Next": "FailExecution"
    },
    "FailExecution": {
      "Type": "Fail",
      "Error": "OrderProcessingFailed",
      "Cause": "Order processing failed during workflow execution"
    }
  }
}
